<section class="breadcrumb-area gradient-overlay" style="background: url(<%= asset_path 'banner/3.jpg'%>);">
  <div class="container">
      <div class="row">
          <div class="col-xl-12">
              <div class="site-breadcrumb">
                  <h2>Login Account</h2>
              </div>
          </div>
      </div>
  </div>
</section>

  <section class="section-padding blue-bg shaded-bg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 centered">
            <div class="section-title cl-white">
                <h4><span>New</span>Login account</h4>
            </div>
        </div>
      </div>
      <div class="row justify-content-center">
          <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12">
              <div class="site-form mb-30">
                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                  <div class="row">
                      <div class="col-xl-12 col-lg-12 col-sm-12">
                            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                      </div>
                      <div class="col-xl-12 col-lg-12 col-sm-12">
                          <%= f.password_field :password, autocomplete: "current-password" %>
                      </div>
                  
                        <% if devise_mapping.rememberable? %>
                        <div class="col-xl-12 col-lg-12 col-sm-12 remember-me">
                          <%= f.check_box :remember_me %>
                          <%= f.label :remember_me %>
                        </div>
                      <% end %>
                      <div class="col-xl-12 col-lg-12 col-sm-12">
                          <%= f.submit "Login Account", class: "bttn-mid btn-fill w-100" %>
                      </div>
                      <div class="col-xl-12 col-lg-12 col-sm-12">
                          <div class="extra-links">
                              <%=link_to 'Create new Account', :new_user_registration, class: "cl-white" %>
                              <%=link_to 'Forget Password?', :new_user_password, class: "cl-white" %>
                          </div>
                      </div>
                  </div>
                <% end %>
            </div>
          </div>
      </div>
  </div>
</section><!--/Login Section-->
